<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        body {
            margin-top: 20px;
            background: #eee;
        }

        .ui-w-40 {
            width: 40px !important;
            height: auto;
        }

        .card {
            box-shadow: 0 1px 15px 1px rgba(52, 40, 104, .08);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/books">Books <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/top_books">Top Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Basket</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/home">Home</a>
          <a class="dropdown-item" href="/previous_orders">My Orders</a>
          <a class="dropdown-item" href="/personal_recs">Recommendations</a>
            <a class="dropdown-item" href="/wishlist">Wishlist</a>
            {%if user.is_staff %}
                <a class="dropdown-item" href="/admin_orders/">Orders</a>
                <a class="dropdown-item" href="/admin">Admin</a>
            {%endif%}
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
      <form class="form-inline" method="post" action="{% url 'search' %}">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav>
    <div class="container px-3 my-5 clearfix">
        <!-- Shopping cart table -->
        <div class="card">
            <div class="card-header">
                <h2>Shopping Cart</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered m-0">
                        <thead>
                            <tr>
                                <!-- Set columns width -->
                                <th class="text-center py-3 px-4" style="min-width: 400px;">Product Name &amp; Details</th>
                                <th class="text-right py-3 px-4" style="width: 100px;">Price</th>
                                <th class="text-center py-3 px-4" style="width: 120px;">Quantity</th>
                                <th class="text-right py-3 px-4" style="width: 100px;">Total</th>
                                <th class="text-center align-middle py-3 px-0" style="width: 40px;"><a href="#" class="shop-tooltip float-none text-light" title="" data-original-title="Clear cart"><i class="ino ion-md-trash"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book, quantity in book_data %}
                                <div id="book-{{ book.id }}">
                                    <tr>
                                        <td class="p-4">
                                            <div class="media align-items-center">
                                                <img src="{{ book.cover_img }}" class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                                <div class="media-body">
                                                    <a href="#" class="d-block text-dark">{{ book.title }}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-right font-weight-semibold align-middle p-4">{{ book.price }}</td>
                                        <td class="align-middle p-4">
                                            <input type="number" class="quantity-input form-control text-center" name="quantity" value="{{ quantity }}" min="1" step="1" data-book-id="{{ book.idbook }}">
                                        </td>
                                        <td class="text-right font-weight-semibold align-middle p-4" id="price-total-{{ book.idbook }}">
                                            {% widthratio book.price 1 quantity %}
                                        </td>
                                        <td class="text-center align-middle px-0">
                                            <a href="{% url 'remove_book' book_id=book.idbook %}" class="shop-tooltip close float-none text-danger" title="" data-original-title="Remove">×</a>
                                        </td>
                                    </tr>
                                </div>
                            {% endfor %}



                        </tbody>
                    </table>
                </div>
                <!-- / Shopping cart table -->

<div class="d-flex flex-wrap justify-content-between align-items-center pb-4">
                    <div class="mt-4">
                        <label class="text-muted font-weight-normal">Promocode</label>
                        <input type="text" placeholder="ABC" class="form-control">
                    </div>
                    <div class="d-flex">
                        <div class="text-right mt-4 mr-5">
                            <label class="text-muted font-weight-normal m-0">Discount</label>
                            <div class="text-large"><strong>$20</strong></div>
                        </div>
                        <div class="text-right mt-4">
                            <label class="text-muted font-weight-normal m-0">Total price</label>
                            <div class="text-large"><strong>$1164.65</strong></div>
                        </div>
                    </div>
                </div>

                <div class="float-right">
                    <a href="{% url 'book_list' %}" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Back to shopping</a>
                </div>
                <div class="float-right">
                    <a href="{% url 'make_order' %}" class="btn btn-lg btn-default md-btn-flat mt-2 mr-3">Make Order</a>
                </div>

            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.quantity-input').change(function() {
        var bookId = $(this).data('book-id');
        var quantity = $(this).val();

        $.ajax({
            type: 'POST',
            url: '{% url "update_quantity" 0 %}'.replace('0', bookId),
            data: { csrfmiddlewaretoken: '{{ csrf_token }}',
                    'quantity': quantity },
            success: function(data) {
                if (data.message === 'Quantity updated') {
                    console.log('Quantity updated');
                } else if (data.message === 'Book removed from cart') {
                    $('#book-' + bookId).remove();
                    console.log('Book removed from cart');
                }
            },
            error: function(xhr, status, error) {
                console.error('Error updating quantity:', error);
            }
        });
    });
});
</script>
</body>
</html>