<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/books">Books <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/top_books">Top Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Basket</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/home">Home</a>
          <a class="dropdown-item" href="/previous_orders">My Orders</a>
          <a class="dropdown-item" href="/personal_recs">Recommendations</a>
            <a class="dropdown-item" href="/wishlist">Wishlist</a>
          {%if user.is_staff %}
                <a class="dropdown-item" href="/admin_orders/">Orders</a>
                <a class="dropdown-item" href="/admin">Admin</a>
            {%endif%}
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
      <form class="form-inline" method="post" action="{% url 'search' %}">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav>
<!-- order.html -->

{% block content %}
  <h1>Make an Order</h1>

  <form method="post" action="{% url 'make_order' %}">
    {% csrf_token %}

    <div>
      <label for="payment">Payment Method:</label>
      <select name="payment" id="payment">
        <option value="">-- Select Payment Method --</option>
        {% for payment in payments %}
          <option value="{{ payment.idpayment }}">{{ payment.payment_way }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="delivery_company">Delivery Company:</label>
      <select name="delivery_company" id="delivery_company">
        <option value="">-- Select Delivery Company --</option>
        {% for delivery_company in delivery_companies %}
          <option value="{{ delivery_company.iddeliverycompany }}">{{ delivery_company.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="branch">Branch:</label>
      <select name="branch" id="branch">
        <option value="">-- Select Branch --</option>
        {% for branch in branches %}
          <option value="{{ branch.idbranch }}">{{ branch.city }}, {{ branch.address }}</option>
        {% endfor %}
      </select>
    </div>

    <button type="submit">Place Order</button>
  </form>
{% endblock %}
<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>